<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Weather Website</title>
</head>

<body >
    {{>navbar}}

    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to AK Weather App</p>
                        <h1>Get The Latest <span>Weather</span > Info Of Your City</h1>
                        <a href="/weather" style="text-decoration: none;"><button>Check Now</button></a>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src='https://tse3.mm.bing.net/th?id=OIP.XtbEfBcGzcFg0OKOwmUBYAHaD4&pid=Api&P=0&w=299&h=158' class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://tse3.mm.bing.net/th?id=OIP.XtbEfBcGzcFg0OKOwmUBYAHaD4&pid=Api&P=0&w=299&h=158" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://tse2.mm.bing.net/th?id=OIP.u1TaRRsUxnoCxa3yj1HTjgHaEK&pid=Api&P=0&w=277&h=157" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>

</html>